body {
	background-color: #aaaaaa;
	background-image: url("../img/Background.png");
}

ul {
	list-style: none;
}

.addBar {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	font-size: 18px;
	left: 0;
	top: 0;
	width: 100%;
	height: 32;
	margin: 0;
	padding: 8px 16px 0 16px;
}

.barOption {
	float: right;
	margin: 0 8px;
}

.block {
	display: block;
}

.buttonNav
{
	position: relative;
	background-color: #a33030;
	color: #fefefe;
	font-size: 16pt;
	height: 56px;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	padding: auto;
}	.buttonNav:hover, .buttonNav:focus {
		background-color: #e23131;
		color: #fefefe;
	}	.buttonNav.left {
		float: left;
	}	.buttonNav.right {
		float: right;
	}

.buttonToolbox
{
	position: relative;
	background-color: #a33030;
	color: #fefefe;
	font-size: 16pt;
	width: 100%;
	height: 56px;
	margin: 0;
	padding: auto;
	border-style: solid;
	border-color: #888888;
	border-width: 2px;
}	.buttonToolbox:hover, .buttonToolbox:focus {
		background-color: #e23131;
		color: #fefefe;
}

.characterLimitText {
	font-size: 11px;
	margin: 0 auto;
	padding: 0 0 16px 0;
}	

.centerText
{
	text-align: center;
}

.centerElement {
	margin: auto;
}

.clear {
	clear: both;
}

.container {
	position: relative;
	background-color: #cccccc;
	border-style: solid;
	border-color: #a33030;
	border-width: 2px;
	overflow: hidden;
}

.containerGroup {
	border-style: solid;
	border-color: #a33030;
	border-width: 2px;
}

.content {
	width: 85%;
	margin: 88px auto 32px auto;
}

.editBar {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	font-size: 18px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0 16px;
}

.floatLeft
{
	float: left;
}

.floatRight
{
	float: right;
}

.footerText {
	position: absolute;
	bottom: 0;
	padding: 0 8px;
}	.footerText.left {
		left: 0;
	}
	.footerText.right {
		right: 0;
	}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}
	
.loginBoxRow {
	margin: 8px 0 8px 8px;
}

.loginBoxText {
	display: inline-block;
}

.newsFeedCell {
	background-color: #cccccc;
	margin: 4px 0;
	padding: 0;
	text-align: left;
	overflow: hidden;
}	.newsFeedCell.date {
		width: 208px;
	}
	.newsFeedCell.title {
		width: auto;
	}

.newsFeedTable {
	table-layout: fixed;
}

.noMargin {
	margin: 0;
}

.noPadding {
	padding: 0;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
}

.slideImage {
	width: inherit;
	height: inherit;
}

.slideShow {
	background-color: White;
}

.slideText {
	position: absolute;
	background: rgba(24, 24, 24, 0.25);
	position: absolute;
	color: #fefefe;
	margin: 0;
	padding: 16px 0;
	width: 33.33%;
	text-align: center;
	font-size: 18pt;
	bottom: 0;
	left: 0;
}

.textFeild {
	margin: 0;
	padding: 0;
}

.weeklyScheduleText {
	margin: 8px 0;
	padding: 0;
}

#footer
{
	position: absolute;
	background-color: #a33030;
	color: #fefefe;
	font-style: italic;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 256px;
	margin: 0;
	padding: 8px;
}

#footerbuffer {
	height: 256px;
	min-height: 256px;
}

#footerImageContainer {
	position: relative;
	width: 100%;
	max-width: 480px;
	margin: auto;
	padding: 0;
}

#buttonLoginBox {
	background-color: #a33030;
	color: #fefefe;
	width: 128px;
	margin: 4px 96px;
}

#nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #a33030;
	height: 56px;
	min-height: 32px;
	max-height: 56px;
	width: 100%;
	margin: 0;
	padding: 0;
	opacity: 0.70;
	transition: opacity 1s ease-out;
}	#nav:hover {
		opacity: 0.90;
	}
	
#newsFeed 
{
	position: relative;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #cccccc;
	height: 384px;
}

#slideShow1 {
	position: absolute;
	width: inherit;
	height: inherit;
}

#slideShow1Frame {
	position: relative;
	width: 100%;
	height: 80vh;
}


#toolBox {
	position: fixed;
	background-color: #aaaaaa;
	color: #fefefe;
	right: 0;
	top: 56px;
	width: 320px;
}

#weeklySchedule 
{
	position: relative;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #cccccc;
	height: 384px;
}

#wrapper {
	position: relative;
	min-height: 100vh;
}
